// base
*, .el-header
  margin: 0
  padding: 0

html, body
  width: 100%
  height: 100%
  min-width: 1300px
  font-family: ArialMT
  background-color: #fcfffd
::-ms-reveal
  display: none


.display1
  display: flex

.head1
  position: fixed
  right: 0
  left: 0
  z-index: 999
  width: 100%
  height: 56px !important
  line-height: 56px
  display: flex
  background-color: #ffffff
  border-bottom: 1px solid #f0f0f0
.logo1
  position: relative
  left: 12%
  width: 100px
  height: 100%
  background-image: url(https://cdn2.jianshu.io/assets/web/nav-logo-4c7bbafe27adc892f3046e6978459bac.png)
  background-repeat: no-repeat
.search1
  position: relative
  width: 480px
  left: 32%
.search1 .el-input__inner
  border-radius: 99px

.main1
  position: relative
  width: 60%
  margin: auto
  margin-top: 56px
.main2
  width: 60%
.main3
  position: fixed
  left: 60%
  width: 20%
.main4
  margin: auto
  width: 50%
.main5
  position: relative
  margin-top: 56px
  width: 100%
.main6
  left: 78%
  width: 10%

.row1
  display: flex
.row2
  margin: 24px 12px 0 0
  font-size: 12px
  color: #606266
.row3
  margin-top: 24px
.row4
  margin: 12px 0 0 0
  font-size: 12px
.row5
  margin-top: 12px

.cell1
  padding: 12px 0
.cell3
  padding: 6px 0

.icon1
  margin-right: 3px
.font1
  margin-right: 24px
.love1
  color: red

.img1
  width: 150px
  height: 100px

.img2
  width: 70px
  height: 50px

.img3
  width: 100%
  height: 50px

.img4
  width: 100%
  height: 100%

.link1 .el-link--inner
  color: #000
  font-size: 18px
.link1 .el-link--inner:hover
  color: #00FFFF
.link2 .el-link--inner
  color: #000
  font-size: 14px
.link3, .link3 .el-link--inner
  width: 100%
  height: 100%

.ad1
  margin: auto
  margin-top: 72px
  width: 50%
