// base
*, .el-header
  margin: 0
  padding: 0

html, body
  width: 100%
  height: 100%
  min-width: 1300px
  font-family: ArialMT
  background-color: #F8FAFA
  color: #303333
::-ms-reveal
  display: none


.display1
  display: flex

.head1
  position: fixed
  right: 0
  left: 0
  z-index: 999
  width: 100%
  height: 56px !important
  line-height: 56px
  display: flex
  background-color: #ffffff
  border-bottom: 1px solid #f0f0f0
.logo1
  position: relative
  left: 100px
  width: 100px
  height: 30px
  margin: 13px 0
  cursor: pointer
  background-image: url(/static/img/logo.png)
  background-repeat: no-repeat
.menu1
  position: relative
  left: 160px
.menu-active1 .el-link--inner
  color: #04C17E !important
.crumb1
  margin-right: 24px
  color: #010101
.search1
  position: absolute
  width: 480px
  left: 36%
.search1 .el-input__inner, .search1 .el-input__inner:focus, .search1 .el-input__inner:hover
  border: 1px solid #dce6e2!important
  border-radius: 99px
.wechat1
  position: absolute
  right: 18%
.wechat1 span
  color: #04C17E
  cursor: pointer

.main1
  position: relative
  width: 60%
  margin: auto
  margin-top: 80px
.main2
  width: 60%
.main3
  position: fixed
  left: 60%
  width: 20%
.main4
  margin: auto
  width: 50%
.main5
  position: relative
  margin-top: 80px
  width: 100%
.main6
  left: 78%
  width: 10%

.row1
  display: flex
.row2
  margin: 0 12px 48px 0
  font-size: 14px
  color: #606266
.row3
  margin-border: 48px
.row4
  margin: 24px 0 0 0
  font-size: 12px
.row5
  margin-top: 24px

.cell1
  padding: 12px 0
.cell3
  padding: 6px 0

.icon1
  margin-right: 2px
.font1
  margin-right: 12px
.color1
  color: #04C17E
.bold1
  font-weight: bold
.bgcolor1
  background-color: #fff
.padding1
  padding: 24px
.padding2
  padding-left: 12px
.padding3
  padding: 12px 24px
.margin1
  margin: 6px 0
.border1
  border-left: 6px solid #04C17E

.img1
  width: 150px
  height: 120px

.img2
  width: 75px
  height: 60px

.img3
  width: 100%
  height: 50px

.img4
  width: 100%
  height: 100%

.link1 .el-link--inner
  color: #000
  font-size: 16px
.link1 .el-link--inner:hover
  color: #04C17E
.link2 .el-link--inner
  font-size: 14px
.link3, .link3 .el-link--inner
  width: 100%
  height: 100%

.ad1
  margin: auto
  margin-top: 72px
  width: 50%
.carousel1
  margin-top: 24px

// backtop
.backtop1
  bottom: 80px !important
  background-color: #fff
  color: #DCE6E2
.backtop1:hover
  background-color: #fff
  cursor: pointer
  color: #04C17E
